@import "variables";

.aboutme{
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 5%;
  &__info{
    width: 100%;
    height: 50vh;
    text-align: center;
  }
  &__language{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 5%;
    & button{
      width: 40px;
      height: 40px;
      border-radius: 50%;
      background-color: $nav-color;
      border: none;
      color: white;
    }
  }
 
  &__tekst{
    margin-right: 10vh;
    & h1{
      padding: 3vh 0;
      font-size: 2.5rem;
      letter-spacing: 4px;
    }
    & p {
      padding: 1vh 0;
      font-size: 1rem;
    }
  }
  &__portret{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10%;
    &-container{
      margin: 5vh;
      border: 2px solid $nav-darker;
      border-radius: 5px;
      padding: 1vh;
      width: 400px;
      height: 400px;
    }
  } 
  &__photo{
    border-radius: 5px;
    margin-left: 10%;
    width: 90%;
  }
  &__video{
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 5px;
  }
}
@media (min-height:600px){
  .aboutme{
    &__portret{
      margin-top: -10%;
    }
  }
}
@media (min-width: 650px){
  .aboutme{
    &__tekst{
      & h1{
        width: 60%;
        margin: 0 auto;
      }
      & p{
        font-size: 1.2rem;
      }
    }
    &__portret{
      margin-top: 0%;
    }
  }
}
@media (min-width: 960px){
  .aboutme{
    flex-direction: row;
    margin: 0;
    &__info{
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    &__language{
      height: 100%;
      width: 20%;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
      padding: 0 auto;
      & button{
        cursor: pointer;
        width: 60px;
        height: 60px;
        &:hover{
          background-color: darken($nav-color, 15%);
        }
      }
    }
    &__tekst{
      width: 100%;
      & h1{
        width: 100%;
        text-align: left;
      }
      & p{
        text-align: justify;
      }
    }
    &__portret{
      margin: 2%;
      &-container{
        width: 450px;
        height: 350px;
        position: relative;
        top: 0;
        left: 0;
      }
    }
    &__photo{
      position: absolute;
      top: -2vh;
      left: -10vh;
      z-index: 1;
    }
    &__video {
      position: absolute;
      top: 15vh;
      right: -5vh;
      z-index: 2;
      width: 40%;
      height: 80%;
    }
  }  
}
