@import "variables";

.aboutme{
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 3vh;
  &__info{
    width: 90%;
    text-align: center;
    margin-bottom: 5vh;
  }
  &__language{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 5%;
    & button{
      width: 40px;
      height: 40px;
      border-radius: 50%;
      background-color: $add-color;
      border: none;
      color: white;
    }
  }
 
  &__tekst{
    width: 95%;
    margin: 0 auto;
    & h1{
      color:$nav-darker;
      padding: 3vh 0;
      font-size: 2.1rem;
      letter-spacing: 3px;
    }
    & p {
      padding: 1vh 0;
      font-size: 1.1rem;
    }
  }
  &__portret{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 8vh;
    &-container{
      width: 100%;
    }
  } 
  &__photo{
    margin-top: 2vh;
    border-radius: 5px;
    margin-left: 10vh;
    width: 90%;
  }
  &__video{
    margin-top: -4vh;
    margin-left: -8vh;
    object-fit: cover;
    width: 100%;
    height: 30vh;
    border-radius: 5px;
  }
}
@media (min-height:600px){
  .aboutme{
    &__portret{
      margin-top: -10%;
    }
  }
}
@media (min-width: 650px){
  .aboutme{
    &__tekst{
      & h1{
        width: 60%;
        margin: 0 auto;
      }
      & p{
        font-size: 1.2rem;
      }
    }
    &__portret{
      margin-top: 0%;
    }
  }
}
@media (min-width: 960px){
  .aboutme{
    flex-direction: row;
    height: 60vh;
    margin: 0;
    &__info{
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    &__language{
      height: 100%;
      width: 20%;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
      padding: 0 auto;
      & button{
        cursor: pointer;
        width: 60px;
        height: 60px;
        &:hover{
          background-color: darken($add-color, 15%);
        }
      }
    }
    &__tekst{
      width: 100%;
      & h1{
        width: 100%;
        text-align: left;
      }
      & p{
        text-align: justify;
      }
    }
    &__portret{
      margin: 2%;
      &-container{
        width: 450px;
        height: 350px;
        position: relative;
        top: 0;
        left: 0;
      }
    }
    &__photo{
      position: absolute;
      top: -2vh;
      left: -10vh;
      z-index: 1;
    }
    &__video {
      position: absolute;
      top: 15vh;
      right: -5vh;
      z-index: 2;
      width: 40%;
      height: 80%;
    }
  }  
}
