@import "variables";

.contact {
  width: 100%;
  background-color: #414833;
  color: white;
  &__wrapper{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
  }
  &__info{
    & p{
      font-size: 1rem;
      padding: 20px 0 20px 10px;
      letter-spacing: 2px;
    }
  }
  &__title{
    font-size: 4rem ;
    font-weight: 100;
    margin: 3vh 0;
    &-color{
      color: rgb(180, 175, 175);
    }
  }
  &__icon{
    margin-right: 3vh;
  }
}
.form{
  width: 90%;
  margin: 5vh 0;
  border: 2px solid white;
  border-radius: 5px;
  padding: 4vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  &__label{
    font-size: 1.5rem;
    letter-spacing: 2px;
    display: block;
  }
  &__input{
    width: 90%;
    padding: 8px 16px;
    font-family: $font-family;
    margin: 15px 0 22px;
  }
  &__info{
    padding-bottom: 10px;
    font-size:1rem;
  }
  &__button{
    display: block;
    cursor:pointer;
    letter-spacing: 2px;
    background-color: inherit;
    font-family: $font-family;
    color: white;
    padding: 10px 20px;
    border: 2px solid white;
    text-transform: uppercase;
    font-size: 1rem;
    border-radius: 5px;
    transition: all 0.5s ease;
    font-weight: bold;
  }
}



@media (min-width:1000px){
  .contact {
  height: 80vh;
  &__wrapper{
    width: 70%;
    margin: 15vh auto 0;
    align-items: start;
    flex-direction: row;
    overflow: visible;

  }
  &__info{
    width: 50%;
    & p{
      font-size: 1.5rem;
    }
  }
  &__title{
    margin-bottom: 3vh;
  }
}
.form{
  margin-left: 20vh;
  margin-top:  -4vh;
  width: 50%;
  &__info{
    font-size:1.2rem;
  }
  &__button{
    &:hover{
      background-color: white;
      color: black;

    }
  }
}
}
