*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
}
.app {
  display: flex;
  flex-direction: column;
}
main {
  height: 100vh;
  background-color: thistle;
  margin-top: 100vh;
  position: relative;
  z-index: 2;
}
